@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Fredericka+the+Great&family=Righteous&family=Ubuntu:wght@400;500&display=swap');
body{
    font-family: 'Fredericka the Great', cursive;
    background-color: #FDF6EC;
}

.mainContent{
    position: relative;
    width: 900px;
    margin: 0 auto;
    font-size: 0;
}
.playerX{
    position:absolute;
    top: 80px;
    left: 0;
    width: 150px;
    text-align: center;
}

.playerO{
    position:absolute;
    top: 80px;
    right: 0;
    width: 150px;
    text-align: center;
   
}
.turnRight{
    visibility: hidden;
    text-align: center;
    font-size: 30px;
    color: #B7CADB;
}
.turnLeft{
    
    text-align: center;
    font-size: 30px;
    color: #B7CADB;
}
.visible{
    visibility: visible;
}
.unvisible{
    visibility: hidden;
}

.playerBorder{
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    background-color: white;
}
.profileX, .profileO{
    width: 140px;
    height: 140px;
}
.container{
    width: 420px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.box{
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 3px solid black;   
    text-align: center;
    font-size: 20px;
    line-height: 140px;
}


.title{
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
    margin: 50px;
    color: #DAB88B;
}
.top{
    border-top: none;
}

.bottom{
    border-bottom: none;
}

.left{
    border-left: none;
}

.right{
    border-right: none;
}

.player1{
    position: absolute;
    top: 0;
    left: 300;
    font-size: 20px;
}

button{
    font-size: 20px;
    margin:40px;
    padding: 5px 15px;
    border-radius: 5px;
}

.imgX{
    animation-duration:0.5s;
    animation-name: imgScale;
    position: absolute;
    max-width: 140px;
    height: 140px;
    top: 0;
    left:0;
}

.imgO{
    animation-duration:0.5s;
    animation-name: imgScale;
    position: absolute;
    max-width: 140px;
    height: 140px;
    top: 0;
    left:0;
}

@keyframes imgScale {
    from{
        transform: scale(0,0);
    }to{
        transform: scale(1,1);
    }
}

p{
    font-size: 30px;
}

.Xwinning {
    animation-duration:5s;
    animation-name: movingAroundLeft;
    position: absolute;
    width: 300px;
    left:-100px;
    z-index: -2;
}

.Owinning {
    animation-duration:5s;
    animation-name: movingAroundRight;
    position: absolute;
    width: 300px;
    right:-100px;
    z-index: -2;
}
@keyframes movingAroundLeft {
    from{
        left:-100px
    }
    50%{
        left:100px;
    }
    to{
        left:-100px;
    }
}

@keyframes movingAroundRight {
    from{
        right:-100px
    }
    50%{
        right:100px;
    }
    to{
        right:-100px;
    }
}
.grass{
  
    position: absolute;
    width: 900px;
    left: 0;
    top: 400px;
    z-index: -1;
}

